head
  title= title   
  meta(charset='utf-8')

  link(rel='stylesheet', href='/css/style.css')  
  link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700', type='text/css')  

  script(src='http://code.jquery.com/jquery-1.6.4.min.js')  
  script(src='/js/jquery.quicksand.js')      
  script(src='/js/script.js')      
  script(src='/socket.io/socket.io.js')      
  script
    var socket = io.connect();
    socket.on('news', function (data) {
      append('#container', 'msg', data.msg);  
    });    
    
    socket.on('pics', function (pics) {                        
      jQuery.each(pics, function() {
        append('#container', 'pics', this.object + ' ' + this.object_id);  
      });
    });
    
    function append (div, from, msg) {
      $(div).append($('<p>').append($('<b>').text(from + ': '), msg));
    }
    
body
  #dropcontainer
    #dropdown
      #container
        img(src="images/logo.png",alt="Atlas", class="logo")
        h3 Quick Links&#58;
      
        ul
          li(class="dmenu1")
            a(href='#') Forrst
          li(class="dmenu3")
            a(href='#') Forrst
          li(class="dmenu2")
            a(href='#') Forrst

        h4 Simply the forefront of your work&#46;&#46;&#46;showcase in style my friend&#46;
        img(src="images/avatar.jpg",alt="Instaflow", class="dropavatar")   

        h2 Yo&#44; I&#39;m Johnny Doe&#46;

        p(class="dpara1 dparas")Iste natus error sit voluptatem accusantium doloremque laudantium&#44; totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.&#46;Nemo enim ipsam voluptatem quia voluptas sit&#46;
        p(class="dpara2 dparas")Neque porro quisquam est&#44; qui dolorem ipsum quia dolor sit amet&#44; consectetur, adipisci velit&#44; sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat&#46;
        h5(class="dropquote")&#8220;Everything is designed&#46; Few things are designed well&#8230;&#8221;

        .dropsep

        h6 Wanna Get in Touch&#63; 
        form.ch-form(method="POST", action="/create")               
          input(id="name", name="name", type="text", placeholder="Your Name&#46;&#46;&#46;")
          input(id="email", name="email", type="email", placeholder="Your Email&#46;&#46;&#46;")
          textarea(placeholder="Your Message&#46;&#46;&#46;")
          input(type="submit",value="Submit &rarr;",class="dropsubmitbtn")                                                         	
                          
    a(class = "dropbtn", href="#")

  #container
    img(src="images/logo.jpg", alt="Instaflow", class="logo")   
    h1(class="subtitle") Simply the forefront of your work&#46;&#46;&#46;showcase in style my friend&#46;
    nav(id="filter")
    .portfolioseperator
    .portfoliocontainer
      ul(id="stage")
        - var items = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]
        each item in items
          li(data-tags="Web Design")
            a(href="#")        
              span(class="portfoliohover")
                h1(class="porthover1") Cool Rollover Titles
                h1(class="porthover2") As well as some nifty sub-titles       
              img(src="images/portfolio/work#{item}.png")     

      .footerseperator
      footer
        h1 &copy; Copyright 2011 Atlas&#46; 
        h2 Atlas HTML Theme
        h3 Send me a