body
  #dropcontainer
    #dropdown
      .container
        img(src="images/logo.png", alt="Atlas", class="logo")
        h3 Quick Links:
  
        ul
          li(class="dmenu1")
            a(href='#') Forrst
          li(class="dmenu3")
            a(href='#') Forrst
          li(class="dmenu2")
            a(href='#') Forrst
        h4 Simply the forefront of your work...showcase in style my friend.
        img(src="images/avatar.jpg",alt="Instaflow", class="dropavatar")   
        h2 Yo&#44; I&#39;m Johnny Doe.
        p(class="dpara1 dparas") Iste natus error sit voluptatem accusantium doloremque laudantium&#44; totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo..Nemo enim ipsam voluptatem quia voluptas sit.
        p(class="dpara2 dparas") Neque porro quisquam est&#44; qui dolorem ipsum quia dolor sit amet&#44; consectetur, adipisci velit&#44; sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat.
        h5(class="dropquote") “Everything is designed. Few things are designed well…”
        .dropsep
        h6 Wanna Get in Touch? 
        form.ch-form(method="POST", action="/create")               
          input(id="name", name="name", type="text", placeholder="Your Name...")
          input(id="email", name="email", type="email", placeholder="Your Email...")
          textarea(placeholder="Your Message...")
          input(type="submit",value="Submit &rarr;",class="dropsubmitbtn")                                                         	
                      
    a(class = "dropbtn", href="#")

  .container 
    img(src="images/logo.png", alt="Instaflow", class="logo")   
    h1(class="subtitle") Simply the forefront of your work...showcase in style my friend.
    nav(id="filter")
    .portfolioseperator
    .portfoliocontainer
      ul(id="stage")
        - var items = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]
        each item in items
          li(data-tags="Set #{item%(Math.floor(Math.random()*5))}, Set #{item%(Math.floor(Math.random()*5))}")
            a(href="#")        
              span(class="portfoliohover")
                h1(class="porthover1") Cool Rollover Titles
                h1(class="porthover2") As well as some nifty sub-titles       
              img(src="images/portfolio/work#{item}.png")     

    .footerseperator
    footer
      h1 &copy; Copyright 2011 Atlas. 
      h2 Atlas HTML Theme
      h3 Send me a    